
<h1>Get the most efficient breakdown for an ammount from $0.01 to $0.99</h1>

<form action='/breakdown'>
  <div class="form-group">
    <label for="total">Coinage ammount: </label>
    <input id="total" name="total" class="form-control" type="number" min="0.01" max="0.99" step="0.01">
  </div>

  <button type="submit" class="btn-success">Break it down</button>
</form>